<nav class="navbar">
  <a class="navbar-brand">Restro</a>
  <form class="form">
    <input
      class="from-search"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="searchbtn" type="submit">Search</button>
    <button class="filterbtn" type="submit">Filter</button>
    <button class="myProfilebtn" type="submit">My Profile</button>
  </form>
</nav>
<div class="card">
  <img src="" alt="" style="width: 100%" />
  <div class="container">
    <h4><b>Pizza</b></h4>
    <p>Price:</p>
  </div>
</div>
<div>
  <button class="checkoutbtn" routerLink="/checkout" type="submit">Checkout</button>
</div>
