<div class="login-style">
  <nav class="navbar">
    <div>
      Restro
      <input
        class="from-search"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="searchbtn" type="submit">Search</button>
      <button class="filterbtn" type="submit">Filter</button>
      <button class="myProfilebtn" type="submit">My Profile</button>
    </div>
  </nav>

  <div class="card">
    <div class="container1">
      <img
        class="noodles"
        src="../../../../assets/images/items/Noodle.jpg"
        alt="Noodles"
        style="height: auto; width: 200px"
      />
      <h4><b>Noodles</b></h4>
      <p>Price:</p>
      <p>Rating</p>
      <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
      <br />
      <br />
    </div>
    <div class="container2">
      <img
        class="pizza"
        src="../../../../assets/images/items/pizza.jpg"
        alt="Noodles"
        style="height: auto; width: 200px"
      />
      <h4><b>Pizza</b></h4>
      <p>Price:</p>
      <p>Rating</p>
      <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
      <br />
      <br />
    </div>
    <div class="container3">
      <img
        class="pizza"
        src="../../../../assets/images/items/Chicken.jpg"
        alt="Noodles"
        style="height: auto; width: 200px"
      />
      <h4><b>Chicken Pakora</b></h4>
      <p>Price:</p>
      <p>Rating</p>
      <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
      <br />
      <br />
    </div>
    <div class="container4">
      <img
        class="pizza"
        src="../../../../assets/images/items/Biryani.png"
        alt="Noodles"
        style="height: auto; width: 200px"
      />
      <h4><b>Biryani</b></h4>
      <p>Price:</p>
      <p>Rating</p>
      <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
      <br />
      <br />
    </div>
    <div class="container5">
      <img
        class="pizza"
        src="../../../../assets/images/items/Salad.webp"
        alt="Noodles"
        style="height: auto; width: 200px"
      />
      <h4><b>Salad</b></h4>
      <p>Price:</p>
      <p>Rating</p>
      <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
      <br />
      <br />
    </div>
    <div class="container6">
      <img
        class="pizza"
        src="../../../../assets/images/items/Juice.jpg"
        alt="Noodles"
        style="height: auto; width: 200px"
      />
      <h4><b>Juice</b></h4>
      <p>Price:</p>
      <p>Rating</p>
      <button class="addbtn" routerLink="/checkout" type="submit">ADD</button>
      <br />
      <br />
    </div>
  </div>
  <div>
    <br /><br />
    <button class="checkoutbtn" routerLink="/checkout" type="submit">
      Checkout
    </button>
  </div>
</div>
