<div>
  <div>
    <p>Item1</p>
    <img src="" alt="Image" />
    <ul>
      <li>Item Name</li>
      <li>Price</li>
      <li>Quantity</li>
    </ul>
    <div>
      <button class="removebtn" type="submit">Remove</button>
      <button class="removebtn" type="submit">Wishlist</button>
    </div>
  </div>
  <div>
    <p>Item2</p>
    <img src="" alt="Image" />
    <ul>
      <li>Item Name</li>
      <li>Price</li>
      <li>Quantity</li>
    </ul>
    <div>
      <button class="removebtn" type="submit">Remove</button>
      <button class="removebtn" type="submit">Wishlist</button>
    </div>
  </div>
</div>
<div>
  <p>Coupon</p>
</div>
<div>
  <h2>Order Summary</h2>
  <p>Total MRP:</p>
  <p>Discount on MRP:</p>
  <p>Coupon Discount:</p>
  <h3>Total Amount:</h3>
</div>

<div>
  <button class="paybtn" type="submit">Proceed To Pay</button>
</div>
